<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ static_url('bootstrap.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ static_url('style.css') }}" type="text/css">
    <link rel="icon" href="{{ static_url('favicon.ico') }}">
</head>
<body>
    <div class="container">
        <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
        <h3 class="muted">Sharding <span class="label {% if time > 0.1 %} label-danger {% else %} label-success {% end %}">{{ time }}s</span></h3>
        </div>
        <hr>
        <div class="jumbotron">
            <div class="well">
                <h3>{{ title }}</h3>
                <dl class="dl-horizontal">
                  <dt>Age</dt>
                  <dd>{{ age }}</dd>
                  <dt>City</dt>
                  <dd>{{ city }}</dd>
                  <dt>Info</dt>
                  <dd>{{ info }}</dd>
                </dl>
            </div>
            <div class="well">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Friends</h4>
                    </div>
                    <ul class="list-group">
                        {% for friend in friends %}
                            <li class="list-group-item">
                                <a href="/user?id={{ friend.id }}" class="list-group-item">{{ friend.name }}</a>
                            </li>
                        {% end %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ static_url('jquery.min.js') }}"></script>
    <script src="{{ static_url('bootstrap.min.js') }}"></script>
</body>
</html>